# Developed on separate feature branches
kakeibo/

node_modules/
.next/
.saves/
.db/
dist/
*.local
.env
*.tsbuildinfo

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
